
    .buscadorAvanzada {
            
            align-items: center;
            justify-content: center;
            align-self: center;
            height: auto;
            width: 50%;
            padding-bottom: 20px !important;
            padding: 0;
            border-radius: 20px;
            /* background-color: #ffff; */
            background-color: #0066ff;
            box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
        
        
    }
    .tituloBuscador {
        color: #fff;
        margin-left: 50px;
        padding-top: 40px;
        margin-bottom: 30px;
        font-weight: 600;
    }
    
    .modal-busqueda-avanzada {
        background-color:  #0066ff !important;
        display: flex;
        align-items: center;
        justify-content:center;
        overflow: hidden;
        flex-direction:column;
        flex-wrap: nowrap;
        width: 400px;
        border-radius: 20px;
        text-align: center;

    }

.modal-content {
        align-items: center;
        justify-content: center;
        align-self: center;
        height: auto;
        width: 98%;
        padding-bottom: 20px !important;
        padding: 0;
        border-radius: 20px;
        /* background-color: #ffff; */
        background-color: #0066ff;
        box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
    
      }
      
.btnAvanzada{
 height: 50px;
background-color: #2eb1ff !important;
width: fit-content !important;
}
    