.navCont {
    /* background-color: red; */
    /* background-color: #0066ff; */
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    border-color: #3333 !important;
    padding-bottom: 25px;
    flex-direction: column;
    border-bottom: solid 1px;
    background-color: #ffff;
    max-width: 100% !important;
    justify-content: center !important;
}

.contIcono {
    right: 25px;
    height: 30px;
    position: absolute;
    justify-content: end;
}

.iconoLogin {
    cursor: pointer;
    width: 35px !important;
    height: 35px !important;
}

.contLogo {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.textMuni {
    display: flex;
    flex-direction: row;
}

.boletinNavCont  {
    width: 100%;
    display: flex !important;
    font-size: 40px;
    margin-bottom: 0;
    display: flex;
    align-items:  center;
    justify-content: center;
    /* font-weight: 300 !important; */
}

.boletinNav {
    
    width: fit-content;
    border-bottom: solid 1px;
    border-color: #333;

}

.contLogo h4,
h1 {
    margin-top: 0 !important;
    color: #333 !important;
    font-weight: 600 !important;
}

.contLogo h4 {
    height: 25px;
    font-size: 23px !important;
    margin-bottom: 0 !important;
}

.contLogo h1 {
    font-size: 40px !important;

}

.logoNav {
    width: auto;
    height: 160px;
}